<section class="topic post">
  <div class="post-meta">
    <div class="btn btn--text js-seeAuthor"><span class="admin icon"></span><%- author %></div>
    <time class="post-time" datetime="<%- new Date(published).toISOString() %>"><%- new Date(published).toISOString() %></time>
  </div>
  <div class="post-content">
    <p><%- content %></p>
  </div>
  <div class="post-meta post-meta--bottom">
    <div class="btn btn--text js-readComments">∞ comments</div>
  </div>
  <% if (canComment) { %>
  <div class="btngroup btngroup--topic">
    <div class="btn btn--secondary btn--small js-comment">
      <span class="plus icon"></span> Add a comment
    </div>
  </div>
  <% } %>
</section>