/* loading indicator */
.spinner {
  position: relative;
  width: 72px;    /* diameter */
  height: 72px;    /* diameter */
}
.spinner-outer, 
.spinner-inner, 
.spinner:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/* Mask */
.spinner:after {
  content: "";
  margin: 10%;    /* stroke width */
  border-radius: 100%;
  background: white;    /* container background */
}
/* Spinning gradients */
.spinner-outer, 
.spinner-inner {
  animation-duration: 5s;    /* speed */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.spinner-outer {
  animation-name: rotate-outer;
}
.spinner-inner {
  animation-name: rotate-inner;
}
/* Halfs */
.spinner-outer:before, 
.spinner-inner:before, 
.spinner-outer:after,
.spinner-inner:after {
  position: absolute;
  top: 0;
  bottom: 0;
  content: "";
}
/* Left half */
.spinner-outer:before, 
.spinner-inner:before {
  left: 0;
  right: 50%;
  border-radius: 72px 0 0 72px;    /* diameter */
}
/* Right half */
.spinner-outer:after, 
.spinner-inner:after {
  left: 50%;
  right: 0;
  border-radius: 0 72px 72px 0;    /* diameter */
}
/* Half gradients */
 .spinner-outer:before {
  background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.0), hsla(0, 0%, 100%, 0.5));
}
.spinner-outer:after {
  background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 1.0), hsla(0, 0%, 100%, 0.5));
}
.spinner-inner:before {
  background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 75%, 0.5));
}
.spinner-inner:after {
  background-image: linear-gradient(to bottom, hsla(0, 0%, 50%, 0.5), hsla(0, 0%, 75%, 0.5));
}
/* Spinning animations */
@keyframes rotate-outer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3turn);
  }
}
@keyframes rotate-inner {
  0% {
    transform: rotate(2turn);
  }
  100% {
    transform: rotate(0deg);
  }
}