* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font: 16px "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  background: hsl(220,9%,87%);
  color: hsl(220,9%,20%);
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-weight: normal;
  margin-bottom: 1em;
}

p {
  margin: 0 0 14px;
  line-height: 1.33;
}

.accordion {
  list-style: none;
  margin: 0 0 1em;
  border: 1px solid hsl(232,8%,90%);
  border-radius: 3px;
  padding: 0;
}

.accordion li {
  padding: 1em 1em 0;
  border-top: 1px solid hsl(232,8%,90%);
}

.accordion li:first-child {
  border: none;
}

.screen {
  width: 320px;
  height: 480px;
  overflow: auto;
  background: white;
  margin-bottom: 10px;
  position: relative;
  padding-top: 46px;
  margin: 0 10px 10px 0;
  float: left;
  box-shadow: 0 1px 10px hsl(232,8%,80%);
}

.screen-header {
  padding: 0 14px;
  position: absolute;
  width: 100%;
  height: 46px;
  left: 0;
  top: 0;
  background: linear-gradient(hsl(221,3%,96%), hsl(221,3%,98%));
  border-bottom: 1px solid hsl(221,5%,90%);
  display: flex;
  align-items: center;
  text-align: center;
}

.screen-header .btn {
  flex: 1 1 25%;
  text-align: left;
  color: inherit;
  font-weight: normal;
  font-size: 14px;
}

.screen-header .btn:last-child:not(:only-child) {
  text-align: right;
}

.screen-title {
  flex: 1 1 50%;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
}

.screen-title:last-child {
  margin-right: 25%;
}

.screen-textContent {
  padding: 28px;
}

.login {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login .screen-textContent {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.login .logo {
  align-self: center;
}

.bottom-controls {
  display: flex;
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}
.bottom-controls .btn {
  padding: 14px;
}
.bottom-controls .btn:last-child {
  margin-left: auto;
}

.loading.screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.channelList-item {
  border-bottom: 1px solid hsl(232,8%,95%);
  display: flex;
  align-items: center;
  padding: 9px 14px;
  cursor: pointer;
}

.channelList-title {
  flex: 1;
  margin: 0 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channelList-unreadCount {
  font-size: 12px;
  border-radius: 18px;
  line-height: 18px;
  padding: 0 6px;
  color: hsl(232,8%,50%);
  background: hsl(232,8%,90%);
}

.private-count {
  position: absolute;
  top: -2px;
  right: -2px;
  color: white;
  background: hsl(25,89%,56%);
  border-radius: 18px;
  padding: 0 6px;
  line-height: 18px;
  font-size: 12px;
}

.channel {
  background: hsl(223,8%,93%);
  padding-top: 0;
}

.channel-header {
  margin-bottom: 10px;
  border-bottom: 1px solid hsl(223,8%,90%);
}

.channel-controls {
  position: absolute;
  width: 100%;
  display: flex;
  padding-bottom: 14px;
  background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,0));
}

.channel-controls .btn {
  padding: 14px;
  font-size: 14px;
  font-weight: normal;
  color: white;
  text-shadow: 0 1px 1px hsla(223,8%,41%,.2);
}

.channel-controls .btn:last-child:not(:only-child) {
  margin-left: auto;
}

.channel-banner {
  height: 166px;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid hsl(223,8%,91%);
}

.channel-title {
  padding: 14px 0;
  text-align: center;
  font-weight: 500;
  background: white;
}

.topic {
  border-top: 1px solid hsl(232,8%,89%);
  border-bottom: 1px solid hsl(232,8%,91%);
  margin-bottom: 14px;
}

.post {
  padding: 14px;
  background: white;
}

.posts .post {
  padding-right: 0;
  padding-bottom: 0;
}

.post-meta {
  display: flex;
  font-size: 12px;
  color: #afb0bb;
  margin-bottom: 3px;
}

.post-time {
  margin-left: auto;
}

.post-actions {
  display: none;
}
.post-actions-item {
  flex: 1;
}
.post-actions-item + .post-actions-item {
  margin-left: 9px;
}
.post p:last-of-type {
  margin-bottom: 0;
}

.profile .avatar {
  display: block;
  margin: 0 auto 28px;
}

.profile-meta {
  font-size: 14px;
  color: hsl(232,8%,75%);
  text-align: center;
}

.avatar,
.channelIcon {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: inline-block;
  background: hsl(221,33%,93%) url(../images/icons/avatar_placeholder.svg) center;
  background-size: cover;
  position: relative;
}

.channelIcon {
  background-image: url(../images/icons/channel_placeholder.svg);
}

.channelIcon--big,
.avatar--big {
  width: 128px;
  height: 128px;
}

.btn {
  width: 100%;
  display: block;
  font-size: inherit;
  padding: 12px 12px 11px;
  background: hsl(221,33%,43%);
  color: white;
  border: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.btn--small {
  background: hsl(221,3%,83%);
  padding: 7px;
  font-size: 12px;
}

.btn--secondary {
  background: none;
  padding-left: 0;
  padding-right: 0;
  color: hsl(221,5%,50%);
}

input {
  width: 100%;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  border: none;
  border-bottom: 1px solid hsl(221,5%,75%);
  margin-bottom: 7px;
  position: relative;
}
input:focus {
  outline: none;
  border-color: #496090;
}

input + .btn {
  margin-top: 7px;
}

::-webkit-input-placeholder {
  font-size: 100%;
  color: hsl(221,5%,75%);
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 100%;
  color: hsl(221,5%,75%);
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 100%;
  color: hsl(221,5%,75%);
}

:-ms-input-placeholder {  
  font-size: 100%;
  color: hsl(221,5%,75%);
}

.menu {
  position: absolute;
  right: 5px;
  top: 45px;
  box-shadow: 0 1px 10px hsla(221,5%,25%,.2);
}

.menu-item {
  text-align: left;
  width: 140px;
  padding: 11px 14px;
  background: hsl(240,11%,98%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 1px rgba(255,255,255,.05) inset;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.menu-item:hover,
.menu-item:active {
  background: hsl(240,11%,96%);
}

.optionsList {
  padding: 0 28px;
}

.optionsList-item {
  padding: 22px;
  border-bottom: 1px solid hsl(232,8%,90%);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .screen {
    margin: 0;
    height: 100vh;
    width: 100%;
    box-shadow: none;
  }
}