@font-face {
  font-family: 'Robot';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Robot';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
       url('../fonts/Roboto-Bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font: 14px Roboto, Helvetica, Arial, Verdana, sans-serif;
  background: hsl(220,9%,87%);
  color: hsl(220,9%,20%);
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-weight: normal;
  margin-bottom: 1em;
}

p {
  margin: 0 0 14px;
  line-height: 1.45;
}

hr {
  margin: 14px 0;
  width: 100%;
  border: none;
  height: 1px;
  background: hsl(240,8%,90%);
}

.system {
  font-size: 15px;
}

.spinner {
  height: 60px;
  width: 60px;
  border-width: 5px;
  border-style: solid;
  border-color: 
    rgba(0,0,0,.5) 
    rgba(0,0,0,.1) 
    rgba(0,0,0,.1) 
    rgba(0,0,0,.1);
  border-radius: 100%;
  animation: clockwise .75s linear infinite;
}

.spinner--light {
  border-color: 
    rgba(255,255,255,.8) 
    rgba(255,255,255,.2) 
    rgba(255,255,255,.2) 
    rgba(255,255,255,.2);
}

.spinner--small {
  width: 30px;
  height: 30px;
  border-width: 3px;
}

.spinner--mini {
  width: 14px;
  height: 14px;
  border-width: 2px;
  vertical-align: bottom;
}

.spinner.silent {
  animation: none;
}

.spinner + .system {
  margin-top: 14px;
}

@keyframes clockwise {
  to { transform: rotate(1turn); }
}

.btn .spinner {
  display: inline-block;
  margin-right: 4px;
}

.modal,
.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 28px;
}

.modal-background {
  background: radial-gradient(rgba(0,0,0,.21), rgba(0,0,0,.55));
  cursor: pointer;
}

.modal-background.is-unclickable {
  cursor: default;
}

.modal-body {
  max-width: 320px;
  max-height: 100%;
  background: white;
  position: relative;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.modal-content {
  padding: 14px;
  overflow: auto;
}

.btngroup--modal {
  border-top: 1px solid hsl(221,5%,90%);
  padding: 14px;
  flex-shrink: 0;
}

.modal .spinner {
  margin: 0 auto;
}

.ruleList {
  margin: 0 0 1em;
  border: 1px solid hsl(232,8%,90%);
  border-radius: 3px;
  padding: 0;
  list-style-position: inside;
}

.ruleList li {
  padding: 1em 1em 0;
  border-top: 1px solid;
  border-color: inherit;
}

.ruleList li:first-child {
  border: none;
}

.screen {
  width: 320px;
  height: 480px;
  overflow: auto;
  background: white;
  margin-bottom: 10px;
  position: relative;
  padding-top: 47px;
  margin: 0 10px 10px 0;
  float: left;
  box-shadow: 0 1px 10px hsl(232,8%,80%);
}

.screen-header {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 46px;
  left: 0;
  top: 0;
  background-image: linear-gradient(to bottom right, hsl(240,11%,98%), hsl(240,12%,93%));
  box-shadow: 0 1px hsla(221,9%,30%,.14);
  display: flex;
  align-items: stretch;
  text-align: center;
}

.screen-header.screen-header--hasTabs {
  padding: 0;
  box-shadow: none;
}

.screen-header .btn {
  padding: 0 14px;
  flex: 1 1 25%;
  display: flex;
  align-items: center;
  text-align: left;
  color: inherit;
  font-weight: normal;
  font-size: 14px;
}

.screen-header .btn:last-child:not(:only-child) {
  justify-content: flex-end;
  text-align: right;
}

.screen-title {
  flex: 1 1 50%;
  line-height: 47px;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

.screen-title:last-child {
  margin-right: 25%;
}

.screen-textContent {
  padding: 28px;
  background: white;
}

.screen-textContent--centered {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-height: 100%;
}

.screen-textContent--isFull {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.align-bottom {
  margin-top: auto;
}

.welcome.screen {
  padding: 0;
  text-align: center;
}

.welcome .btngroup .btn + .btn {
  margin-top: 14px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login .screen-textContent {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.logo {
  align-self: center;
}

.bottom-controls {
  overflow: hidden;
}
.bottom-controls .btn {
  padding: 14px 0 14px 28px;
  float: left;
}
.bottom-controls .btn:last-child {
  padding: 14px 28px 14px 0;
  margin-left: auto;
  float: right;
}

.signup form {
  margin-bottom: 14px;
}

.loading.screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.channelList-item {
  border-bottom: 1px solid hsl(240,11%,95%);
  display: flex;
  align-items: center;
  padding: 9px 14px;
  cursor: pointer;
}

.channelList-item:not(.channelList--loader):hover {
  background: hsl(240,9%,98%);
}

.channelList--loader {
  padding: 14px;
  justify-content: center;
  border: none;
}

.channelList-title {
  flex: 1;
  margin: 0 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channelList-unreadCount {
  font-size: 12px;
  border-radius: 18px;
  line-height: 18px;
  padding: 0 6px;
  color: hsl(232,5%,70%);
  background: hsl(240,11%,95%);
}

.private-count {
  position: absolute;
  top: -2px;
  right: -2px;
  color: white;
  background: hsl(25,89%,56%);
  border-radius: 18px;
  padding: 0 6px;
  line-height: 18px;
  font-size: 12px;
}

.channel,
.topic {
  background: hsl(240,11%,98%);
}

.channel-header {
  margin-bottom: 14px;
  border-bottom: 1px solid hsl(240,11%,95%);
  background: white;
}

.channel-banner {
  height: 166px;
  background-color: hsl(240,12%,93%);
  background-image:
    url(../images/icons/channel_placeholder.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.channel-description {
  padding: 7px 14px 0;
}

.channel-actions {
  padding: 14px;
  border-top: 1px solid hsl(240,11%,93%);
}

.post {
  padding: 14px;
  background: white;
}

.post--topic {
  border-top: 1px solid hsl(240,12%,95%);
  border-bottom: 1px solid hsl(240,12%,95%);
  margin-bottom: 14px;
}

.topic.screen .post--topic {
  border-top: none;
  margin-bottom: 0;
}

.post--loader .spinner {
  margin: 0 auto;
}


.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.post-avatar {
  cursor: pointer;
}

.post-meta {
  margin-left: 9px;
}

.post-author {
  display: flex;
  cursor: pointer;
  align-items: flex-end;
}

.post-author .displayName,
.post-author .username {
  font-size: 14px;
}

.post-author .displayName + .username {
  font-size: 12px;
  color: #afb0bb;
}

.btngroup--topic {
  margin-top: 7px;
}

.post-time {
  margin-top: 2px;
  display: block;
  font-size: 12px;
  color: #afb0bb;
}

.post-footer {
  font-size: 12px;
  color: #afb0bb;
}

.post--comment {
  position: relative;
  padding-left: 56px;
}

.post--comment .avatar {
  position: absolute;
  left: 14px;
}

.post--comment .displayName,
.post--comment .username {
  display: inline;
  word-break: break-all;
  white-space: normal;
  overflow: visible;
  padding-right: 0;
}

.post--comment .displayName + .username {
  display: none;
}

.post--comment .post-author {
  display: inline;
}

.post--comment .post-time {
  display: inline;
}

.post-content {
  margin: 5px -14px 7px;
  padding: 0 14px;
  line-height: 1.4;
  word-break: break-word;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post--comment .post-content {
  display: inline;
  margin: 0;
  padding: 0;
}

.post-media {
  margin: 2px -14px 4px;
}

.post-media--video video {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post-more {
  position: absolute;
  bottom: 0;
  left: 14px;
  right: 14px;
  padding: 42px 0 10px;
  background: linear-gradient(rgba(255,255,255,0), white 28px);
  cursor: pointer;
}

.post--comment + .post--comment {
  padding-top: 0;
}

.btngroup.btngroup--post {
  display: none;
}

.newComment {
  padding: 7px 14px 3px;
  display: flex;
  align-items: flex-start;
  border-top: 1px solid hsl(240,12%,95%);
}
.newComment [name=comment] {
  flex: 1;
  margin-right: 7px;
  line-height: 21px;
}

.newComment .btn {
  width: auto;
  margin-top: 3px;
}

.profile .displayName,
.profile .username {
  text-align: center;
  font-size: 18px;
}

.profile .displayName {
  padding-right: 0;
}

.profile .displayName + .username {
  font-size: 14px;
  margin-top: 2px;
  color: hsl(232,8%,75%);
}

.profile-description {
  line-height: 1.45;
  margin: 24px 0;
}

.profile-meta {
  color: hsl(232,8%,75%);
  text-align: center;
}

.tab-views-item.settings,
.tab-views-item.activity,
.profile--setup {
  background: hsl(240,11%,98%);
}

.displayName,
.username {
  font-weight: bold;
  color: black;
  font-size: 13px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.displayName {
  padding-right: 6px;
}

/* in case there is a displayName */
.displayName + .username {
  font-weight: normal;
  color: #afb0bb;
}

.displayName + .username:before {
  content: '@';
}

.userList-item {
  border-bottom: 1px solid hsl(240,11%,95%);
  display: flex;
  align-items: center;
  padding: 9px 14px;
  cursor: pointer;
}

.userList-item:hover {
  background: hsl(240,9%,98%);
}

.userList .username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.userList .displayName {
  font-size: 14px;
  margin-left: 14px;
}

.activity .post {
  margin-bottom: 14px;
  padding-top: 18px;
  padding-bottom: 8px;
  border-top: 1px solid hsl(240,11%,95%);
  border-bottom: 1px solid hsl(240,11%,95%);
}

.activity .post:first-of-type {
  border-top: none;
}

.section {
  background: white;
  margin-bottom: 14px;
  padding: 28px;
  border-top: 1px solid hsl(240,11%,95%);
  border-bottom: 1px solid hsl(240,11%,95%);
}

.section:first-child {
  border-top: none;
}

.section.section--showMore {
  border-top: none;
  margin-bottom: 0;
  padding: 14px 14px 7px;
  border-bottom: 0;
}

.section.section--showMore:not(.is-loading) .spinner {
  display: none;
}

.avatar,
.channelIcon {
  width: 44px;
  height: 44px;
  border-radius: 2px;
  display: inline-block;
  background: hsl(240,11%,93%) url(../images/icons/avatar_placeholder.svg) center;
  background-size: cover;
  position: relative;
  flex-shrink: 0;
}

.channelIcon {
  background-image: url(../images/icons/channel_placeholder.svg);
}

.avatar--small {
  width: 33px;
  height: 33px;
}

.channelIcon--big,
.avatar--big {
  width: 128px;
  height: 128px;
  display: block;
  border-radius: 6px;
  margin: 0 auto 28px;
}

.avatar--uploadMode {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.avatar--uploadMode .btn {
  border-radius: 0;
}

.avatar--uploadMode input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.avatar .admin.icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.tabs {
  display: flex;
  width: 100%;
  position: relative;
}

.tabs-activeIndicator {
  position: absolute;
  height: 6px;
  bottom: 0;
  background: hsl(221,33%,43%);
  box-shadow: 0 -1px rgba(0,0,0,.075) inset;
  transition: transform 200ms;
  will-change: transition;
  z-index: 1;
}

.tabs-activeIndicator.no-transition {
  transition: none;
}

.tabs-item {
  flex: 1;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 -1px rgba(0,0,0,.075) inset;
  position: relative;
}

.tabs-item:hover {
  background: hsl(240,11%,95%);
}

/* left and right lines */
.tabs-item:not(:first-child):before {
  content: "";
  position: absolute;
  left: -1px;
  width: 1px;
  height: 42%;
  top: 29%;
  background: hsl(240,11%,90%);
}

.tabs-item-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tabs-item .private-count {
  flex-shrink: 0;
  position: static;
  margin-left: 6px;
  box-shadow: 
    0 1px hsl(240,11%,98%),
    0 1px 1px rgba(0,0,0,.1) inset;
}

/* make private count 0px wide when empty */
.tabs-item .private-count:empty {
  padding: 0;
  margin: 0;
}

.tab-views {
  position: absolute;
  left: 0;
  top: 46px;
  width: 100%;
  overflow: hidden;
}

.tab-scroller {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  transition: transform 200ms;
  will-change: transition;
}

.tab-scroller.no-transition {
  transition: none;
}

.tab-views-item {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.tab-views-item--message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btngroup {
  display: flex;
}

.btngroup .btn {
  flex: 1 1 auto;
  margin: 0 3px;
}

.btngroup .btn:only-child {
  margin: 0;
}

.btngroup:not(.btngroup--vertical) .btn:first-child {
  margin-left: 0;
}

.btngroup:not(.btngroup--vertical) .btn:last-child {
  margin-right: 0;
}

.btngroup--connected .btn {
  margin: 0 .5px;
}

.btngroup--connected .btn:not(:first-child):not(:last-child):not(:only-child) {
  border-radius: 0;
}

.btngroup--connected .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btngroup--connected .btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btngroup--vertical {
  display: block;
}

.btngroup--vertical .btn {
  margin: 0;
}

.btngroup--vertical .btn + .btn {
  margin-left: 0;
  margin-top: 5px;
}

.btn {
  width: 100%;
  display: block;
  font-size: inherit;
  padding: 12px 28px 11px;
  background: hsl(221,3%,75%);
  color: white;
  border: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  outline: none;
  text-decoration: none;
}

form :invalid ~ .btn:not(.btn--text) {
  background: hsl(221,3%,85%);
}

.btn:active {
  background: hsl(221,3%,68%);
}

.btn--primary {
  background: hsl(221,33%,43%);
}

.btn--primary:active {
  background: hsl(221,33%,36%);
}

.btn--callToAction {
  background: hsl(25,89%,56%);
}

.btn--callToAction:active {
  background: hsl(25,89%,50%);
}

.btn--small {
  width: auto;
  padding: 7px 14px;
  font-size: 12px;
}

.btn--secondary {
  background: hsl(221,30%,65%);
}

.btn--secondary:active {
  background: hsl(221,30%,55%);
}

.btn--fullWidth {
  width: 100%;
}

.btn--text {
  color: hsl(221,5%,50%);
  width: auto;
  display: inline-block;
  padding: 0;
  background: none;
}

.btn--text:active {
  background: none;
}

input,
textarea {
  -webkit-appearance: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 5px 0;
  line-height: 1.5;
  border: none;
  border-bottom: 1px solid hsl(221,5%,75%);
  margin-bottom: 7px;
  position: relative;
  background: none;
  resize: none;
  border-radius: 0;
}
input.nonEmpty:invalid {
  border-color: red;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: #496090;
}

input + .btn {
  margin-top: 7px;
}

::-webkit-input-placeholder {
  font-size: 100%;
  color: hsl(221,5%,75%);
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 100%;
  color: hsl(221,5%,75%);
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 100%;
  color: hsl(221,5%,75%);
}

:-ms-input-placeholder {  
  font-size: 100%;
  color: hsl(221,5%,75%);
}

.hint {
  font-size: 12px;
  margin-bottom: 14px;
}

.form-controls {
  padding: 14px;
  display: flex;
  align-items: center;
  background: hsl(240,11%,98%);
  border-top: 1px solid hsl(223,6%,89%);
}

.form-controls .btn {
  width: auto;
}

.form-controls .form-cancel {
  margin-right: auto;
}

.menu {
  position: absolute;
  right: 5px;
  top: 45px;
  box-shadow: 0 1px 10px hsla(221,5%,25%,.2);
  display: none;
}

.menu-item {
  text-align: left;
  width: 140px;
  padding: 11px 14px;
  background: hsl(240,11%,98%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 1px rgba(255,255,255,.05) inset;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.menu-item:hover,
.menu-item:active {
  background: hsl(240,11%,96%);
}

.optionsList {
  padding: 0 28px;
}

.optionsList-item {
  display: block;
  padding: 22px;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid hsl(232,8%,90%);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.optionsList-item:last-child {
  border-bottom: none;
}

.optionsList-item a {
  color: inherit;
  text-decoration: none;
}

.is-hidden {
  display: none;
}

@media (max-width: 600px) {
  html,
  body {
    height: auto;
  }
  body {
    display: initial;
    background: white;
  }
  .screen {
    margin: 0;
    height: auto;
    width: 100%;
    min-width: 320px;
    box-shadow: none;
    float: none;
    overflow: visible;
    position: static;
    min-height: 100vh;
  }
  .screen-header {
    position: fixed;
  }
  .screen.screen--hasTabViews {
    position: relative;
  }
  .screen-textContent--centered {
    min-height: 100vh;
  }
}