@font-face {
  font-family: 'Robot';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Robot';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
       url('../fonts/Roboto-Bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font: 14px Roboto, Helvetica, Arial, Verdana, sans-serif;
  background: hsl(220,9%,87%);
  color: hsl(220,9%,20%);
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-weight: normal;
  margin-bottom: 1em;
}

p {
  margin: 0 0 14px;
  line-height: 1.5;
}

.system {
  font-size: 15px;
}

.spinner {
  height: 60px;
  width: 60px;
  border-width: 5px;
  border-style: solid;
  border-color: 
    rgb(130, 130, 130) 
    rgb(230, 230, 230) 
    rgb(230, 230, 230) 
    rgb(230, 230, 230);
  border-radius: 100%;
  animation: clockwise .75s linear infinite;
}

.spinner.silent {
  animation: none;
}

.spinner + .system {
  margin-top: 14px;
}

@keyframes clockwise {
  to { transform: rotate(1turn); }
}

.modal,
.modal-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 28px;
}

.modal-background {
  background: radial-gradient(rgba(0,0,0,.34), rgba(0,0,0,.55));
  cursor: pointer;
}

.modal-body {
  max-width: 320px;
  max-height: 100%;
  background: white;
  position: relative;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.modal-content {
  padding: 14px;
  overflow: auto;
}

.btngroup--modal {
  border-top: 1px solid hsl(221,5%,90%);
  padding: 14px;
  flex-shrink: 0;
}

.modal .spinner {
  margin: 0 auto;
}

.ruleList {
  margin: 0 0 1em;
  border: 1px solid hsl(232,8%,90%);
  border-radius: 3px;
  padding: 0;
  list-style-position: inside;
}

.ruleList li {
  padding: 1em 1em 0;
  border-top: 1px solid;
  border-color: inherit;
}

.ruleList li:first-child {
  border: none;
}

.screen {
  width: 320px;
  height: 480px;
  overflow: auto;
  background: white;
  margin-bottom: 10px;
  position: relative;
  padding-top: 46px;
  margin: 0 10px 10px 0;
  float: left;
  box-shadow: 0 1px 10px hsl(232,8%,80%);
}

.screen-header {
  padding: 0 14px;
  position: absolute;
  width: 100%;
  height: 46px;
  left: 0;
  top: 0;
  background: linear-gradient(hsl(221,3%,96%), hsl(221,3%,98%));
  border-bottom: 1px solid hsl(221,5%,90%);
  display: flex;
  align-items: center;
  text-align: center;
}

.screen-header .btn {
  flex: 1 1 25%;
  text-align: left;
  color: inherit;
  font-weight: normal;
  font-size: 14px;
}

.screen-header .btn:last-child:not(:only-child) {
  text-align: right;
}

.screen-title {
  flex: 1 1 50%;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

.screen-title:last-child {
  margin-right: 25%;
}

.screen-textContent {
  padding: 28px;
}

.login {
  padding: 0;
  display: flex;
  min-height: 480px;
  flex-direction: column;
  justify-content: center;
}

.login .screen-textContent {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.login .logo {
  align-self: center;
}

.bottom-controls {
  display: flex;
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}
.bottom-controls .btn {
  padding: 14px 0 14px 28px;
}
.bottom-controls .btn:last-child {
  padding: 14px 28px 14px 0;
  margin-left: auto;
}

.signup form {
  margin-bottom: 14px;
}

.loading.screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.channelList-item {
  border-bottom: 1px solid hsl(240,11%,95%);
  display: flex;
  align-items: center;
  padding: 9px 14px;
  cursor: pointer;
}

.channelList-item:hover {
  background: hsl(240,11%,98%);
}

.channelList-title {
  flex: 1;
  margin: 0 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channelList-unreadCount {
  font-size: 12px;
  border-radius: 18px;
  line-height: 18px;
  padding: 0 6px;
  color: hsl(232,5%,75%);
  background: hsl(240,11%,95%);
}

.private-count {
  position: absolute;
  top: -2px;
  right: -2px;
  color: white;
  background: hsl(25,89%,56%);
  border-radius: 18px;
  padding: 0 6px;
  line-height: 18px;
  font-size: 12px;
}

.channel {
  background: hsl(240,11%,98%);
  padding-top: 0;
}

.channel-header {
  margin-bottom: 10px;
  border-bottom: 1px solid hsl(240,11%,95%);
}

.channel-controls {
  position: absolute;
  width: 100%;
  display: flex;
  padding-bottom: 7px;
  background: linear-gradient(hsla(240,14%,50%,.3), hsla(240,14%,50%,0));
}

.channel-controls .btn {
  padding: 14px;
  font-size: 14px;
  font-weight: normal;
  color: white;
  text-shadow: 0 1px 1px hsla(223,8%,41%,.2);
}

.channel-controls .btn:last-child:not(:only-child) {
  margin-left: auto;
}

.channel-banner {
  height: 166px;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid hsl(223,8%,91%);
}

.channel-title {
  padding: 14px 0;
  text-align: center;
  font-weight: bold;
  background: white;
}

.topic {
  border-top: 1px solid hsl(240,11%,93%);
  border-bottom: 1px solid hsl(240,11%,95%);
  margin-bottom: 14px;
}

.post {
  padding: 14px;
  background: white;
}

.post-meta {
  margin: -7px -14px -6px;
  display: flex;
  font-size: 12px;
  color: #afb0bb;
}

.post-meta .btn,
.post-time {
  padding: 7px 14px 9px;
}

.post-meta.post-meta--bottom {
  margin-top: 0;
  margin-bottom: 0;
}

.post-meta.post-meta--interaction {
  margin-bottom: 7px;
  font-style: italic;
}

.post-time {
  margin-left: auto;
}

.post p {
  margin-bottom: 3px;
}

.profile .avatar {
  display: block;
  margin: 0 auto 28px;
}

.profile-meta {
  font-size: 14px;
  color: hsl(232,8%,75%);
  text-align: center;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comment + .comment {
  padding-top: 0;
}

.posts {
  flex: 1;
  overflow: auto;
}

.writeComment {
  background: hsl(240,11%,98%);
  padding: 7px 14px 3px;
  display: flex;
  align-items: flex-start;
  border-top: 1px solid hsl(240,11%,95%);
}
.writeComment [name=comment] {
  flex: 1;
  margin-right: 7px;
  max-height: 240px;
}

.writeComment .btn {
  width: auto;
  margin-top: 3px;
}

.profile-name {
  font-weight: bold;
  margin: 1em 0;
  text-align: center;
}

.activity {
  background: hsl(240,11%,98%);
}

.activity .post {
  margin-bottom: 14px;
  padding-top: 18px;
  padding-bottom: 8px;
  border-top: 1px solid hsl(240,11%,95%);
  border-bottom: 1px solid hsl(240,11%,95%);
}

.activity .post:first-of-type {
  border-top: none;
}

.avatar,
.channelIcon {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: inline-block;
  background: hsl(221,33%,93%) url(../images/icons/avatar_placeholder.svg) center;
  background-size: cover;
  position: relative;
}

.channelIcon {
  background-image: url(../images/icons/channel_placeholder.svg);
}

.channelIcon--big,
.avatar--big {
  width: 128px;
  height: 128px;
}

.avatar--uploadMode {
  position: relative;
}

.avatar--uploadMode:before {
  content: "+";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 128px;
  text-align: center;
  font-size: 8em;
  color: white;
  border-radius: inherit;
  background: hsla(221,11%,50%,.3);
}

.avatar--uploadMode input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.btngroup {
  display: flex;
}

.btngroup .btn {
  flex: 1 0 auto;
  margin: 0 3px;
}

.btngroup .btn:only-child {
  margin: 0;
}

.btngroup .btn:first-child {
  margin-left: 0;
}

.btngroup .btn:last-child {
  margin-right: 0;
}

.btngroup--connected .btn {
  margin: 0 .5px;
}

.btngroup--connected .btn:not(:first-child):not(:last-child):not(:only-child) {
  border-radius: 0;
}

.btngroup--connected .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btngroup--connected .btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn {
  width: 100%;
  display: block;
  font-size: inherit;
  padding: 12px 28px 11px;
  background: hsl(221,3%,75%);
  color: white;
  border: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  outline: none;
}

form :invalid ~ .btn:not(.btn--text) {
  background: hsl(221,3%,85%);
}

.btn:active {
  background: hsl(221,3%,68%);
}

.btn--primary {
  background: hsl(221,33%,43%);
}

.btn--primary:active {
  background: hsl(221,33%,36%);
}

.btn--small {
  width: auto;
  padding: 7px 14px;
  font-size: 12px;
}

.btn--secondary {
  background: hsl(221,30%,65%);
}

.btn--secondary:active {
  background: none;
}

.btn--text {
  color: hsl(221,5%,50%);
  width: auto;
  display: inline-block;
  padding: 0;
  background: none;
}

.btn--text:active {
  background: none;
}

input,
textarea {
  width: 100%;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  padding: 5px 0;
  line-height: 1.5;
  border: none;
  border-bottom: 1px solid hsl(221,5%,75%);
  margin-bottom: 7px;
  position: relative;
  background: none;
  resize: none;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: #496090;
}

input + .btn {
  margin-top: 7px;
}

::-webkit-input-placeholder {
  font-size: 100%;
  color: hsl(221,5%,75%);
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 100%;
  color: hsl(221,5%,75%);
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 100%;
  color: hsl(221,5%,75%);
}

:-ms-input-placeholder {  
  font-size: 100%;
  color: hsl(221,5%,75%);
}

.profile--edit {
  background: hsl(240,11%,98%);
}

.profile--edit .screen-textContent {
  background: white;
  padding-bottom: 0;
}

.form-controls {
  margin: 14px -28px 0;
  padding: 14px;
  display: flex;
  align-items: center;
  background: hsl(240,11%,98%);
  border-top: 1px solid hsl(223,6%,89%);
}

.form-controls .btn {
  width: auto;
}

.form-controls .form-cancel {
  margin-right: auto;
}

.menu {
  position: absolute;
  right: 5px;
  top: 45px;
  box-shadow: 0 1px 10px hsla(221,5%,25%,.2);
  display: none;
}

.menu-item {
  text-align: left;
  width: 140px;
  padding: 11px 14px;
  background: hsl(240,11%,98%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 1px rgba(255,255,255,.05) inset;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.menu-item:hover,
.menu-item:active {
  background: hsl(240,11%,96%);
}

.optionsList {
  padding: 0 28px;
}

.optionsList-item {
  padding: 22px;
  border-bottom: 1px solid hsl(232,8%,90%);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .screen {
    margin: 0;
    height: 100vh;
    width: 100%;
    min-width: 320px;
    box-shadow: none;
  }
}