<div class="post-header">
  <div class="avatar js-seeAuthor">
    <span class="admin icon"></span>
  </div>
  <div class="post-meta">
    <div class="post-author js-seeAuthor">
      <% if(displayName) { %>
      <span class="displayName"><%- displayName %></span>
      <% } %>
      <span class="username"><%- username %></span>
    </div>
    <time class="post-time" datetime="<%- new Date(published).toISOString() %>"><%- new Date(published).toISOString() %></time>
  </div>
</div>
<div class="post-content"><%= content %></div>
<div class="post-footer">
  <% if(commentCount > 0) { %>
  <a class="btn btn--text" href="channel/<%- channelJid %>/<%- id %>">
    <%- commentCount %> comments
  </a>
  <% } %>
</div>
<% if (canComment) { %>
<div class="btngroup btngroup--topic">
  <div class="btn btn--secondary btn--small js-comment">
    <span class="plus icon"></span> Add a comment
  </div>
</div>
<% } %>