<div class="post-header">
  <div class="avatar js-seeAuthor"<% if(avatarUrl) { print(' style="background-image: url('+ avatarUrl +')"') } %>></div>
  <div class="post-meta">
    <div class="post-author js-seeAuthor">
      <span class="displayName js-displayName"><%- displayName %></span>
      <span class="username"><%- username %></span>
    </div>
    <time class="post-time" datetime="<%- new Date(published).toISOString() %>"><%- new Date(published).toISOString() %></time>
  </div>
</div>
<div class="post-content"><%= content %></div>
<div class="post-footer">
  <a class="btn btn--text" href="channel/<%- channelJid %>/<%- id %>">
    <span class="js-commentCount"><%- commentCount %></span> comments
  </a>
</div>
<% if (canComment) { %>
<div class="btngroup btngroup--topic">
  <div class="btn btn--secondary btn--small js-comment">
    <span class="plus icon"></span> Add a comment
  </div>
</div>
<% } %>