<div class="avatar avatar--small js-seeAuthor"></div>
<div class="comment-content">
  <div class="post-author js-seeAuthor">
    <div class="displayName"><%- displayName %></div>
    <div class="username"><%- username %></div>
  </div>
<div class="post-content"><%- content %></div>
</div>
<div class="post-footer">
  <time class="post-time" datetime="<%- new Date(published).toISOString() %>"><%- new Date(published).toISOString() %></time>&#183;
  <span class="btn btn--text js-context">context</span>
</div>