<div class="post-header post-header--activity">
  <div class="avatar avatar--tiny js-seeAuthor"></div>
  <div class="displayName js-seeAuthor">You</div>
  <div class="activity-verb">posted in</div>
  <div class="avatar avatar--tiny js-seeChannel" style="background-image: url../images/channels/cityoftshwane.jpg)"></div>
  <div class="displayName displayName--channel js-seeChannel">City of Tshwane</div>
</div>
<div class="post-content"><%- content %></div>
<div class="post-footer">
  <time class="post-time" datetime="<%- new Date(published).toISOString() %>"><%- new Date(published).toISOString() %></time>&#183;
  <span class="btn btn--text js-context">show context</span>
</div>