<div class="comment post">
  <div class="post-meta post-meta--interaction">
    <span class="post-author btn btn--text js-seeAuthor">letsiemogorosi3</span> mentioned you in <span class="btn btn--text js-channel">City of Tshwane</span>:
  </div>
  <div class="post-meta">
    <div class="post-author btn btn--text js-seeAuthor">letsiemogorosi3</div>
    <div class="post-time">3 hours ago</div>
  </div>
  <p>I agree with <b>@mattheu_matshaya</b>. C is a good film. Especially with Brad Pit!!!</p>
</div>
<div class="comment post">
  <div class="post-meta post-meta--interaction">
    You wrote in <span class="btn btn--text js-channel">City of Tshwane</span>:
  </div>
  <div class="post-meta">
    <div class="post-author btn btn--text js-seeAuthor">mattheu_matshaya</div>
    <div class="post-time">4 hours ago</div>
  </div>
  <p>I've seen A and B. Both sucked!. But C. Please please please!</p>
  <div class="post-meta post-meta--bottom">
    <div class="btn btn--text js-threat">Threat</div>
  </div>
</div>
<div class="comment post">
  <div class="post-meta post-meta--interaction">
    You wrote in <span class="btn btn--text js-channel">City of Tshwane</span>:
  </div>
  <div class="post-meta">
    <div class="post-author btn btn--text js-seeAuthor">mattheu_matshaya</div>
    <div class="post-time">1 day ago</div>
  </div>
  <p>Problems with playback: My phone wasn't working properly last weekend when I was trying to play films. What player do others use?</p>
  <div class="post-meta post-meta--bottom">
    <div class="btn btn--text js-seeThreat">Threat</div>
  </div>
</div>