<header class="channel-header">
  <div class="screen-header">
    <div class="btn btn--text js-back">
      <div class="arrow left icon"></div>
      Close
    </div>
    <div class="screen-title">City of Tshwane</div>
    <div class="btn btn--text js-menu">
      Menu
    </div>
  </div>
  <div class="channel-banner" style="background-image: url(tshwane.jpg)"></div>
  <p class="channel-description">
    The City of Tshwane is the second largest municipality in Gauteng and is among the six biggest metropolitan municipalities in South Africa. Fourteen towns and townships form part of the Municipality.
  </p>
  <div class="channel-actions">
    <div class="btn btn--primary js-topic">Write new post</div>
  </div>
</header>
<article class="topic post">
  <div class="post-meta">
    <div class="btn btn--text js-seeAuthor"><span class="admin icon"></span>daniele54</div>
    <div class="post-time">5 hours ago</div>
  </div>
  <div class="post-content">
    <p>We need your help. We're planning the new Wifi-Drive-in film but can't decide what to pick. Right now we have three choices: Out of Movie A, B and C, which would you like to see next?</p>
  </div>
  <div class="post-meta post-meta--bottom">
    <div class="btn btn--text js-readComments">51 comments</div>
  </div>
  <div class="btngroup btngroup--topic">
    <div class="btn btn--secondary btn--small js-comment">
      <span class="plus icon"></span> Add a comment
    </div>
    <div class="btn btn--secondary btn--small js-like">
      <span class="like icon"></span> Like
    </div>
  </div>
</article>
<article class="topic post">
  <div class="post-meta">
    <div class="btn btn--text js-seeAuthor"><span class="admin icon"></span>p16thembe</div>
    <div class="post-time">yesterday</div>
  </div>
  <div class="post-content">
    <p>Problems with playback: My phone wasn't working properly last weekend when I was trying to play films. What player do others use?</p>
  </div>
  <div class="post-meta post-meta--bottom">
    <div class="btn btn--text js-readComments">35 comments</div>
  </div>
  <div class="btngroup btngroup--topic">
    <div class="btn btn--secondary btn--small js-comment">
      <span class="plus icon"></span> Add a comment
    </div>
    <div class="btn btn--secondary btn--small js-like">
      <span class="like icon"></span> Like
    </div>
  </div>
</article>