<header class="screen-header">
  <div class="btn btn--text js-back">
    <div class="arrow left icon"></div>
    Close
  </div>
  <div class="screen-title">Comments</div>
</header>
<div class="posts">
  <div class="comment post">
    <div class="btn btn--secondary btn--small js-showMore">Show 49 more comments</div>
  </div>
  <div class="comment post">
    <div class="post-meta">
      <div class="btn btn--text js-seeAuthor">mattheu_matshaya</div>
      <div class="post-time">4 hours ago</div>
    </div>
    <p>I've seen A and B. Both sucked!. But C. Please please please!</p>
  </div>
  <div class="comment post">
    <div class="post-meta">
      <div class="btn btn--text js-seeAuthor">letsiemogorosi3</div>
      <div class="post-time">3 hours ago</div>
    </div>
    <p>I agree with @mattheu_matshaya. C is a good film. Especially with Brad Pit!!!</p>
  </div>
</div>
<form class="writeComment">
  <textarea name="comment" placeholder="Write a comment..." rows="1" required></textarea>
  <button type="submit" class="btn btn--primary btn--small js-comment">Send</button>
</form>