<header class="screen-header screen-header--hasTabs">
  <div class="tabs">
    <div class="tabs-item is-active" data-target="channelList">
      Channels
      <div class="private-count"></div>
    </div>
    <div class="tabs-item" data-target="activity">
      Activity
      <div class="private-count">2</div>
    </div>
    <div class="tabs-item" data-target="settings">
      Settings
      <div class="private-count"></div>
    </div>
  </div>
</header>
<div class="tab-views">
  <!-- tab views here -->
</div>