<header class="screen-header screen-header--hasTabs">
  <div class="tabs">
    <div class="tabs-activeIndicator"></div>
    <div class="tabs-item is-active" data-target="chats">
      <span class="tabs-item-label">Chats</span>
    </div>
    <% if(showFaultLink) { %>
    <div class="tabs-item" data-target="report">
      <span class="tabs-item-label">Report</span>
    </div>
    <% } %>
    <div class="tabs-item" data-target="activity">
      <span class="tabs-item-label">Activity</span>
    </div>
    <div class="tabs-item" data-target="settings">
      <span class="tabs-item-label">Profile</span>
    </div>
  </div>
</header>
<div class="tab-views">
  <div class="tab-scroller">
    <!-- tab views here -->
  </div>
</div>