<div class="screen-textContent">
  <img class="logo" src="/images/wifi-chat-logo.svg" width="126" height="123">
  <form>
    <input type="text" name="username" placeholder="Wifi Chat Username" autocapitalize="off" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit" class="btn btn--primary login-continue js-login">Continue</button>
  </form>
</div>
<div class="bottom-controls">
  <div class="btn btn--text btn--small login-signup js-signup">Not on Wifi Chat?</div>
  <div class="btn btn--text btn--small login-forgotPassword js-forgotPassword">Forgot Username/Password</div>
</div>