<div class="modal-background js-close<% if (type == 'spinner'){ print(' is-unclickable') } %> <% if (true === opaque) { %>modal-background--opaque<% } %>"></div>
<div class="modal-body">
  <div class="modal-content">
    <% if(type == 'spinner') { %>
      <div class="spinner"></div>
    <% } %>
    <div class="system"><%= message %></div>
  </div>
  <% if (showClose) { %>
  <div class="btngroup btngroup--modal">
    <div class="btn btn--primary btn--small js-close">Close</div>
  </div>
  <% } %>
</div>