<header class="screen-header">
  <div class="btn btn--text js-back">
    <div class="back arrow icon"></div>
    Back
  </div>
  <div class="screen-title">Forgot Username / Password</div>
</header>
<form class="screen-textContent">
  <p>Don't worry, we'll help you out!</p>
    <input type="email" id="signup-email" placeholder="E-Mail" required>
    <p>Enter your email address here to receive a username reminder and password reset instructions. Just follow the prompts and you'll be back on WiFi Chat in no time.</p>
  <button type="submit" class="btn btn--primary js-signup">Send reminder</button>
</form>