<header class="screen-header">
  <div class="btn btn--text js-back">
    <div class="left arrow icon"></div>
    Back
  </div>
  <div class="screen-title"><% if ('topic' === channelType) { %><%- channelJid %><% } else { %><%- username %><% } %></div>
</header>
<div class="screen-textContent">
  <div class="avatar avatar--big"></div>
  <% if(title) { %>
  <div class="displayName"><%- title %></div>
  <% } %>
  <div class="username" data-jid="<%- channelJid %>"><% if ('topic' === channelType) { %><%- channelJid %><% } else { %><%- username %><% } %></div>
  <% if (description) { %>
  <div class="profile-description"><%- description %></div>
  <% } %>
  <div class="profile-meta">member for <time datetime="<%- creationDate %>"></time></div>
</div>