<header class="screen-header">
  <div class="btn btn--text js-back">
    <div class="back arrow icon"></div>
    Back
  </div>
  <div class="screen-title">Rules</div>
</header>
<div class="screen-textContent">
  <% if (!hideExtras) { %>
  <p>By clicking "Start using WiFi Chat" you're accepting the following set of rules:</p>
  <% } %>
  <ol class="ruleList">
    <li>
      <p>Respect others.</p>
      <p>You might not always agree with others comments. But please respect their right to have an opinion and treat them with respect.</p>
    <li>
      <p>Don't spam.</p>
      <p>Don't post the same comment repeatedly in multiple chats.</p>
    <li>
      <p>Don't post personal information.</p>
      <p>Don't post the full name, employer, or other real-life details of another person.</p>
    <li>
      <p>No pornography or sexually suggestive content.</p>
    <li>
      <p>Don't break the site or do anything that interferes with normal use of the site.</p>
  </ol>
  <% if (!hideExtras) { %>
  <div class="btn btn--primary js-signRules">Start using WiFi Chat</div>
  <% } %>
</div>