<header class="screen-header">
  <div class="btn btn--text js-back">
    <div class="back arrow icon"></div>
    Back
  </div>
  <div class="screen-title">Rules</div>
</header>
<div class="screen-textContent">
  <% if (!hideExtras) { %>
  <p>By clicking "Start using WiFi Chat" you're accepting the following set of rules.</p>
  <% } %>
  <p>Failure to abide by these rules could result in your profile being disabled.</p>
  <ol class="ruleList">
    <li>
      <p>Respect others.</p>
      <p>You might not always agree with others comments, but please respect their right to have an opinion.</p>
      <p>No pornography or sexually suggestive content.</p>
      <p>No abusive language or name-calling will be tolerated.</p>
    <li>
      <p>Use WiFi Chat safely.</p>
      <p>Don't share any personal information about you or anyone else (passwords, identity numbers, banking details or contact details).</p>
      <p>Do not arrange to meet with strangers you meet on this platform.</p>
      <p>Beware of scams and report any suspicious behavior.</p>
    <li>
      <p>Do not spam.</p>
      <p>Don't post the same comment repeatedly in multiple chats.</p>
      <p>Don't post advertisements or product promotions.</p>
    <li>
      <p>Do not share illegal content.</p>
      <p>Don't share links to illegal downloading sites or pirated copies of items.</p>
    <li>
      <p>Don't break the site.</p>
      <p>Don't break the site or do anything that interferes with normal use of the site.</p>
  </ol>
  <p class="p--small"><i>WiFi Chat</i> administrators, Project Isizwe and the City of Tshwane take no responsibility for the consequences of broken rules, personal injury or the loss of privacy/ personal items. <i>WiFi Chat</i> is public & its administrators reserve the right to disable any account in the event of one or more of the above mentioned rules being broken.</p>
  <% if (!hideExtras) { %>
  <div class="btn btn--primary js-signRules">Start using WiFi Chat</div>
  <% } %>
</div>