<form class="section edit-profile">
  <div class="avatar avatar--big avatar--uploadMode">
    <div class="btn btn--primary">Change</div>
    <input type="file" name="avatar" accept="image/*">
  </div>
  <input type="text" name="name" placeholder="Name" maxlength="128">
  <textarea rows="2" name="description" placeholder="Tell the world about yourself..." maxlength="200"></textarea>
</form>
<div class="section optionsList">
  <div class="optionsList-item">Help</div>
  <div class="optionsList-item">Rules</div>
  <div class="optionsList-item">Report Abuse</div>
  <div class="optionsList-item js-logout">Logout</div>
</div>