<form class="section edit-profile">
  <div class="avatar avatar--big avatar--uploadMode" style="background-image: url(avatar-3.jpg)">
    <div class="btn btn--primary">Change</div>
    <input type="file" name="avatar" accept="image/*">
  </div>
  <input type="text" name="name" value="Mattheu Matshaya" placeholder="Name" maxlength="128">
  <textarea rows="4" name="description" placeholder="Tell the world about yourself..." maxlength="200">A humble down to earth guy who's crazy about music, loves fast cars and pool/snooker, grew up in Port Shepstone now residing in Pretoria. Now parking off.</textarea>
</form>
<div class="section optionsList">
  <div class="optionsList-item">Help</div>
  <div class="optionsList-item">Rules</div>
  <div class="optionsList-item">Report Abuse</div>
</div>