<div class="section edit-profile">

  <div class="avatar avatar--big avatar--uploadMode"<% if (avatarUrl) { print(' style="background-image: url('+ avatarUrl +')"') } %>>
    <% if (canUploadFiles) { %>
    <div class="btn btn--primary">Change</div>
    <input type="file" name="avatar" accept="image/*" />
    <% } %>
    <div class="spinner"></div>
  </div>
  <input type="text" name="title" placeholder="Name" maxlength="128" value="<%- title %>" />
  <textarea rows="4" name="description" placeholder="Tell the world about yourself..." maxlength="200"><%- description %></textarea>
</div>
<div class="section optionsList">
  <div class="optionsList-item"><a href="http://projectisizwe.org/wifi-chat-help-page/" target="_blank">Help</a></div>
  <div class="optionsList-item js-rules">Rules</div>
  <div class="optionsList-item js-logout">Logout</div>
</div>