<header class="screen-header">
  <div class="btn btn--text js-back">
    <div class="back arrow icon"></div>
    Back
  </div>
  <div class="screen-title">Sign Up</div>
</header>
<form class="screen-textContent">
  <input type="text" name="username" placeholder="Wifi Chat Username" required>
  <input type="password" name="password" placeholder="Password" required pattern=".*{6,}">
  <input type="email" name="email" placeholder="E-Mail" required>
  <button type="submit" class="btn btn--primary js-signup">Sign Up to WiFi Chat</button>
</form>