<div class="avatar avatar--small js-seeAuthor"<% if(avatarUrl) { print(' style="background-image: url('+ avatarUrl +')"') } %>></div>
<div class="comment-content">
  <div class="post-author js-seeAuthor">
    <% if(displayName) { %>
    <span class="displayName"><%- displayName %></span>
    <% } %>
    <span class="username"><%- username %></span>
  </div>
  <div class="post-content"><%- content %></div>
</div>
<div class="post-footer">
  <time class="post-time" datetime="<%- new Date(published).toISOString() %>"><%- new Date(published).toISOString() %></time>&#183;
  <span class="btn btn--text js-report-post">report</span>
</div>