<div class="avatar avatar--small js-seeAuthor"<% if(avatarUrl) { print(' style="background-image: url('+ avatarUrl +')"') } %>></div>
<div class="comment-content js-limitHeight" style="max-height: <%- maxHeight %>px;">
  <div class="post-author js-seeAuthor">
    <span class="displayName"><%- displayName %></span>
    <span class="username"><%- username %></span>
  </div>
  <div class="post-content"><%= content %></div>
</div>
<div class="post-footer">
  <time class="post-time" datetime="<%- new Date(published).toISOString() %>"><%- new Date(published).toISOString() %></time>
  <% if(showControls){ %>
  &#183;<span class="btn btn--text js-report-post">report</span>
  <% } %>
</div>