<header class="screen-header">
  <div class="btn btn--text js-back">
    <div class="arrow left icon"></div>
    Close
  </div>
  <div class="screen-title"><%- content.substr(0, 100) %></div>
</header>
<article>
  <section class="post post--topic">
    <div class="post-meta">
      <div class="post-author btn btn--text js-seeAuthor">
        <span class="admin icon"></span>
        <% if(displayName) { %>
        <span class="displayName"><%- displayName %></span>
        <% } %>
        <span class="username"><%- username %></span>
      </div>
      <time class="post-time" datetime="<%- new Date(published).toISOString() %>"><%- new Date(published).toISOString() %></time>
    </div>
    <div class="post-content"><%= content %></div>
  </section>
</article>