<article>
  <section class="posts">
    <article class="post post--comment">
      <div class="btn btn--secondary btn--small js-showMore">Show 49 more comments</div>
    </article>
    <article class="post post--comment">
      <div class="post-meta">
        <div class="btn btn--text js-seeAuthor">
          <span class="displayName">Mattheu Matshaya</span>
          <span class="username">mattheu_matshaya</span>
        </div>
        <time class="post-time">4 hours ago</time>
      </div>
      <div class="post-content">I've seen A and B. Both sucked!. But C. Please please please!</div>
      <div class="btngroup btngroup--post btngroup--connected">
        <div class="btn btn--small js-flag">
          <span class="delete icon"></span>Flag comment
        </div>
        <div class="btn btn--small js-mention">
          <span class="mute icon"></span>Mention Mattheu Matshaya
        </div>
      </div>
    </article>
    <article class="post post--comment">
      <div class="post-meta">
        <div class="btn btn--text js-seeAuthor">
          <span class="displayName">Letsie Mogorosi</span>
          <span class="username">letsiemogorosi3</span>
        </div>
        <time class="post-time">3 hours ago</time>
      </div>
      <div class="post-content">I agree with @mattheu_matshaya. C is a good film. Especially with Brad Pit!!!</div>
    </article>
  </section>
</article>