<div class="modal-background js-close"></div>
<div class="modal-body">
  <div class="modal-content">
    <p>Please enter a reason for reporting this post:</p>
    <textarea name="reason" class="js-report-reason" placeholder="Please enter a reason here..." maxlength="1024"></textarea>
  </div>
  <div class="btngroup btngroup--modal">
    <button type="button" class="btn btn-primary btn--small js-report-send">Send Report</button>
    <div class="btn btn--primary btn--small js-close">Cancel</div>
  </div>
</div>