<header class="screen-header">
  <div class="btn btn--text js-back">
    <div class="arrow left icon"></div>
    Close
  </div>
  <div class="screen-title">We have a new video for you guys</div>
</header>
<article>
  <section class="post post--topic">
    <div class="post-meta">
      <div class="btn btn--text js-seeAuthor">
        <span class="admin icon"></span>
        <span class="displayName">Daniele Francis</span>
        <span class="username">daniele54</span>
      </div>
      <time class="post-time">5 hours ago</time>
    </div>
    <div class="post-content">We have a new video for you guys. Let us know what you think of it:
  http://connectuptv.pockittv.mobi/v/850</div>
    <div class="post-meta post-meta--bottom">
      <div class="btn btn--text js-readComments">51 comments</div>
    </div>
    <div class="btngroup btngroup--topic">
      <div class="btn btn--secondary btn--small js-comment">
        <span class="plus icon"></span> Add a comment
      </div>
      <div class="btn btn--secondary btn--small js-like">
        <span class="like icon"></span> Like
      </div>
    </div>
  </section>
  <section class="posts">
    <article class="post post--comment">
      <div class="btn btn--secondary btn--small js-showMore">Show 49 more comments</div>
    </article>
    <article class="post post--comment">
      <div class="post-meta">
        <div class="btn btn--text js-seeAuthor">
          <span class="displayName">Mattheu Matshaya</span>
          <span class="username">mattheu_matshaya</span>
        </div>
        <time class="post-time">4 hours ago</time>
      </div>
      <div class="post-content">I've seen A and B. Both sucked!. But C. Please please please!</div>
      <div class="btngroup btngroup--post btngroup--connected">
        <div class="btn btn--small js-flag">
          <span class="delete icon"></span>Flag comment
        </div>
        <div class="btn btn--small js-mention">
          <span class="mute icon"></span>Mention Mattheu Matshaya
        </div>
      </div>
    </article>
    <article class="post post--comment">
      <div class="post-meta">
        <div class="btn btn--text js-seeAuthor">
          <span class="displayName">Letsie Mogorosi</span>
          <span class="username">letsiemogorosi3</span>
        </div>
        <time class="post-time">3 hours ago</time>
      </div>
      <div class="post-content">I agree with @mattheu_matshaya. C is a good film. Especially with Brad Pit!!!</div>
    </article>
  </section>
</article>
<form class="writeComment">
  <textarea name="comment" placeholder="Write a comment..." rows="1" required></textarea>
  <button type="submit" class="btn btn--primary btn--small js-comment">Send</button>
</form>